<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
         <meta name="un papel con vida" content="papel, organico, plantable ">

        <meta name="Sheedo" content="papel semillas">
        <title>Sheedo</title>

		<!-- Mobile Specific Meta
		================================================== -->
        <meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- Favicon -->
		<link rel="shortcut icon" type="image/x-icon" href="Image/leaf32.png" />

		<!-- CSS
		================================================== -->
		<!-- Fontawesome Icon font -->
        <link rel="stylesheet" href="/font-awesome.min.css">
		<!-- bootstrap.min css -->
        <link rel="stylesheet" href="/bootstrap.min.css">
		<!-- Animate.css -->
        <link rel="stylesheet" href="/animate.css">
		<!-- Owl Carousel -->
        <link rel="stylesheet" href="/owl.carousel.css">
		<!-- Grid Component css -->
        <link rel="stylesheet" href="/component.css">
		<!-- Slit Slider css -->
        <link rel="stylesheet" href="/slit-slider.css">
		<!-- Main Stylesheet -->
        <link rel="stylesheet" href="/main.css">
		<!-- Media Queries -->
        <link rel="stylesheet" href="/media-queries.css">

		<!--
		Google Font
		=========================== -->

		<!-- Oswald / Title Font -->
		<link href='http://fonts.googleapis.com/css?family=Oswald:400,300' rel='stylesheet' type='text/css'>
		<!-- Ubuntu / Body Font -->
		<link href='http://fonts.googleapis.com/css?family=Ubuntu:400,300' rel='stylesheet' type='text/css'>

		<!-- Modernizer Script for old Browsers -->
        <script src="js/modernizr-2.6.2.min.js"></script>




    </head>

    <body id="body">
	    <!--
	    Start Preloader
	    ==================================== -->

        <!--
        End Preloader
        ==================================== -->



        <!--
        Fixed Navigation
        ==================================== -->
        <header id="navigation" class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <!-- responsive nav button -->
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
					<!-- /responsive nav button -->

					<!-- logo -->
                    <a class="navbar-brand" href="#body">
						<h1 id="logo">
							<img src="Image/SHEEDO_FINAL.png" alt="Sheedo" width="80" height="50" />
						</h1>
					</a>
					<!-- /logo -->
                </div>

				<!-- main nav -->
                <nav class="collapse navbar-collapse navbar-right" role="Navigation">
                    <ul id="nav" class="nav navbar-nav">
                        <li><a href="/">Home</a></li>
                        <li><a href="/historia">Historia</a></li>
                        <li class="current"><a href="#showcase">Catalogo</a></li>
                        <li><a href="/contacto">Contacto</a></li>
                    </ul>
                </nav>
				<!-- /main nav -->

            </div>
        </header>
        <!--
        End Fixed Navigation
        ==================================== -->

		<!-- Start Portfolio Section
		=========================================== -->

		<section id="showcase">
			<div class="container">
				<div class="row wow fadeInDown" data-wow-duration="500ms">
					<div class="col-lg-12">

						<!-- section title -->
						<div class="title text-center">
							<h2>Nuestros<span class="color"> Productos</span></h2>
							<div class="border"></div>
						</div>
						<!-- /section title -->



					</div> <!-- /end col-lg-12 -->
				</div> <!-- end row -->
			</div>	<!-- end container -->

			<!-- portfolio items -->
			<div class="portfolio-item-wrapper wow fadeInUp" data-wow-duration="500ms">
                <ul id="og-grid" class="og-grid">

					<!-- single portfolio item -->
					<li class="mix app">
						<a href="javascript:void(0)" data-largesrc="Image/IMG_20150526_125024-min.jpg">
							<img src="Image/IMG_20150526_125024-min.jpg" alt="sheedo">
							<div class="hover-mask">
								<h3>Tarjetas de visita</h3>
								<span>
									<i class="fa fa-plus fa-2x"></i>
								</span>
							</div>
						</a>
					</li>
					<!-- /single portfolio item -->

					<!-- single portfolio item -->
					<li class="mix web">
                    <a href="javascript:void(0)" data-largesrc= "Image/20151012_133420.jpg" >
						<img src="Image/20151012_133420.jpg" alt="papel">
						<div class="hover-mask">
							<h3>Papel con semillas</h3>
							<span>
								<i class="fa fa-plus fa-2x"></i>
							</span>
					    </div>
					</a>
					</li>
					<!-- /single portfolio item -->

					<!-- single portfolio item -->
					<li class="mix photoshop">
                     <a href="javascript:void(0)" data-largesrc= "Image/IMG_20150521_081534-min.jpg" >
						<img src="Image/IMG_20150521_081534-min.jpg" alt="semillas">
						<div class="hover-mask">
							<h3>Todos los tamaños</h3>
							<span>
								<i class="fa fa-plus fa-2x"></i>
							</span>
					    </div>
					</a>
					</li>
					<!-- /single portfolio item -->

					<!-- single portfolio item -->
					<li class="mix illustrator">
						<a href="javascript:void(0)" data-largesrc="Image/IMG_20150803_163003.jpg" alt="papelsemilla">							<img src="Image/IMG_20150803_163003.jpg" alt="papelsemilla">
							<div class="hover-mask">
								<h3>Invitaciones de boda</h3>
								<span>
									<i class="fa fa-plus fa-2x"></i>
								</span>
							</div>
						</a>
					</li>
					<!-- /single portfolio item -->

					<!-- single portfolio item -->
					<li class="mix app">
						<a href="javascript:void(0)" data-largesrc="Image/IMG_20151002_113315.jpg" alt="seeds" >
							<img src="Image/IMG_20151002_113315.jpg" alt="seeds">
							<div class="hover-mask">
								<h3>Etiquetas</h3>
								<span>
									<i class="fa fa-plus fa-2x"></i>
								</span>
							</div>
						</a>
					</li>
					<!-- /single portfolio item -->

					<!-- single portfolio item -->
					<li class="mix app">
						<a href="javascript:void(0)" data-largesrc="Image/IMG_20151021_173522.jpg" alt="semillas" >
							<img src="Image/IMG_20151021_173522.jpg" alt="plantable">
							<div class="hover-mask">
								<h3>Convierte tu packaging en una experiencia</h3>
								<span>
									<i class="fa fa-plus fa-2x"></i>
								</span>
							</div>
						</a>
					</li>
					<!-- /single portfolio item -->

					<!-- single portfolio item -->
					<li class="mix web">
						<a href="javascript:void(0)" data-largesrc="Image/IMG_20150603_075352-min.jpg" alt="sheedo">
							<img src="Image/IMG_20150603_075352-min.jpg" alt="papelplantable">
							<div class="hover-mask">
								<h3>Marketing verde</h3>
								<span>
									<i class="fa fa-plus fa-2x"></i>
								</span>
							</div>
						</a>
					</li>
					<!-- /single portfolio item -->

					<!-- single portfolio item -->
					<li class="mix photoshop">
						<a href="javascript:void(0)" data-largesrc="Image/IMG_20150922_093845.jpg" alt="ecologico">
							<img src="Image/IMG_20150922_093845.jpg" alt="papeldesemilla">
							<div class="hover-mask">
								<h3>Soluciones para pequeñas y grandes empresas</h3>
								<span>
									<i class="fa fa-plus fa-2x"></i>
								</span>
							</div>
						</a>
					</li>
					<!-- /single portfolio item -->

					<!-- single portfolio item -->
					<li class="mix photoshop">
						<a href="javascript:void(0)" data-largesrc="Image/20151012_133216.jpg" alt="marketingverde">
							<img src="Image/20151012_133216.jpg" alt="sheedo">
							<div class="hover-mask">
								<h3>Ecológico y original</h3>
								<span>
									<i class="fa fa-plus fa-2x"></i>
								</span>
							</div>
						</a>
					</li>
					<!-- /single portfolio item -->

					<!-- single portfolio item -->
					<li class="mix illustrator">
						<a href="javascript:void(0)" data-largesrc="Image/IMG_20150524_112532-min.jpg" alt="paper">
							<img src="Image/IMG_20150524_112532-min.jpg" alt="alive">
							<div class="hover-mask">
								<h3>¡Sorprende con papel de semillas!</h3>
								<span>
									<i class="fa fa-plus fa-2x"></i>
								</span>
							</div>
						</a>
					</li>
					<!-- /single portfolio item -->

					<!-- single portfolio item -->
					<li class="mix web">
						<a href="javascript:void(0)" data-largesrc="Image/IMG_20151023_070637.jpg" alt="verde">
							<img src="Image/IMG_20151023_070637.jpg" alt="semillas">
							<div class="hover-mask">
								<h3>Haz florecer tus mensajes</h3>
								<span>
									<i class="fa fa-plus fa-2x"></i>
								</span>
							</div>
						</a>
					</li>
					<!-- /single portfolio item -->

					<!-- single portfolio item -->
					<li class="mix app">
						<a href="javascript:void(0)" data-largesrc="Image/20151116_160730 (1).jpg" alt="plantar">
							<img src="Image/20151116_160730 (1).jpg" alt="organico">
							<div class="hover-mask">
								<h3>Sobres de papel con semillas</h3>
								<span>
									<i class="fa fa-plus fa-2x"></i>
								</span>
							</div>
						</a>
					</li>
					<!-- /single portfolio item -->

				</ul> <!-- end og grid -->
			</div>  <!-- portfolio items wrapper -->

		</section>   <!-- End section -->

		<footer id="footer" class="bg-one">
			<div class="container">
			    <div class="row wow fadeInUp" data-wow-duration="500ms">
					<div class="col-lg-12">

						<!-- Footer Social Links -->
						<div class="social-icon">
							<ul>

								<li><a href="https://twitter.com/sheedopaper/" target="new"><i class="fa fa-twitter"></i></a></li>
								<li><a href="https://www.instagram.com/_sheedo/"target="new"><i class="fa fa-instagram"></i></a></li>
                                <li><a href="https://plus.google.com/105647372687218542412/posts"target="new"><i class="fa fa-google-plus"></i></a></li>
							</ul>
						</div>
						<!--/. End Footer Social Links -->

						<!-- copyright -->
						<div class="copyright text-center">
							<a href="index.html">
							<img src="Image/SHEEDO_FINAL (1).png" width="100" height="70" alt="papel semilla"> </a>
							<br />

							<p>Design And Developed by <a href="http://www.goboxprojects.com" target="new"> Goboxprojects</a>. Copyright &copy; 2015. All Rights Reserved.</p>
						</div>
						<!-- /copyright -->

					</div> <!-- end col lg 12 -->
				</div> <!-- end row -->
			</div> <!-- end container -->
		</footer> <!-- end footer -->

		<!-- Back to Top
		============================== -->
		<a href="javascript:;" id="scrollUp">
			<i class="fa fa-angle-up fa-2x"></i>
		</a>

		<!-- end Footer Area
		========================================== -->

		<!--
		Essential Scripts
		=====================================-->

		<!-- Main jQuery -->
		<script src="js/jquery-1.11.0.min.js"></script>
		<!-- Bootstrap 3.1 -->
		<script src="js/bootstrap.min.js"></script>
		<!-- Slitslider -->
		<script src="js/jquery.slitslider.js"></script>
		<script src="js/jquery.ba-cond.min.js"></script>
		<!-- Parallax -->
		<script src="js/jquery.parallax-1.1.3.js"></script>
		<!-- Owl Carousel -->
		<script src="js/owl.carousel.min.js"></script>
		<!-- Portfolio Filtering -->
		<script src="js/jquery.mixitup.min.js"></script>
		<!-- Custom Scrollbar -->
		<script src="js/jquery.nicescroll.min.js"></script>
		<!-- Jappear js -->
		<script src="js/jquery.appear.js"></script>
		<!-- Pie Chart -->
		<script src="js/easyPieChart.js"></script>
		<!-- jQuery Easing -->
		<script src="js/jquery.easing-1.3.pack.js"></script>
		<!-- tweetie.min -->
		<script src="js/tweetie.min.js"></script>
		<!-- Google Map API -->
		<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
		<!-- Highlight menu item -->
		<script src="js/jquery.nav.js"></script>
		<!-- Sticky Nav -->
		<script src="js/jquery.sticky.js"></script>
		<!-- Number Counter Script -->
		<script src="js/jquery.countTo.js"></script>
		<!-- wow.min Script -->
		<script src="js/wow.min.js"></script>
		<!-- For video responsive -->
		<script src="js/jquery.fitvids.js"></script>
		<!-- Grid js -->
		<script src="js/grid.js"></script>
		<!-- Custom js -->
		<script src="js/custom.js"></script>

    </body>
</html>
